.rect .form-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
}
.col-12 {
    margin-top: 10px;
}

.rect {
    padding: 0 20px;
}

.container .btn {
    width: 150px;
}